<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Codebender.cc" Language="1033" Version="1.6.0.6" Manufacturer="codebender.cc" UpgradeCode="{5ed63a74-511c-5a42-8646-a6b6d982a2d3}">
    <Package InstallerVersion="200" Compressed="yes" Description="Installer for the Codebendercc plugin" InstallScope="perUser" />
    <Upgrade Id="{5ed63a74-511c-5a42-8646-a6b6d982a2d3}">
      <UpgradeVersion
       Property="OLD_VERSION_FOUND"
       Minimum="0.0.1" IncludeMinimum="yes"
       Maximum="1.6.0.6" IncludeMaximum="yes"
       OnlyDetect="no" IgnoreRemoveFailure="yes"
       MigrateFeatures="yes" />
    </Upgrade>
    <Property Id="MSIRESTARTMANAGERCONTROL" Value="Disable" />
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize" />
      <InstallExecute After="RemoveExistingProducts" />
    </InstallExecuteSequence>
    <Media Id="1" Cabinet="Codebendercc.cab" EmbedCab="yes" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="AppDataFolder">
        <Directory Id="CompanyDir" Name="codebendercc">
          <Component Id="CompanyDirComp" Guid="*">
            <RemoveFolder Id="RemoveCompanyDir" On="uninstall" />
            <RegistryValue
							Root="HKCU"
							Key="SOFTWARE\codebendercc"
							Name="Uninstall"
							Type="string"
							Value="1.6.0.6"
							KeyPath="yes" />
          </Component>
          <Directory Id="PluginNameDir" Name="Codebendercc">
            <Component Id="PluginNameDirComp" Guid="*">
              <RemoveFolder Id="RemovePluginNameDir" On="uninstall" />
              <RegistryValue
							  Root="HKCU"
							  Key="SOFTWARE\codebendercc\Codebendercc"
							  Name="Uninstall"
							  Type="string"
							  Value="1.6.0.6"
							  KeyPath="yes" />
            </Component>
            <Directory Id="INSTALLDIR" Name="1.6.0.6">
              <Component Id="InstallDirComp" Guid="{104D10A9-62C4-4122-8BA2-1C4644373DEF}">
                <RemoveFolder Id="RemoveInstallDir" On="uninstall" />
                <RegistryValue
									Root="HKCU"
									Key="SOFTWARE\codebendercc\Codebendercc\1.6.0.6"
									Name="Uninstall"
									Type="string"
									Value="1.6.0.6"
									KeyPath="yes" />
                <File Id="avrdude.exe" Source="C:\Users\codebender\Desktop\plugin_files\avrdude.exe" />
                <File Id="libusb0.dll" Source="C:\Users\codebender\Desktop\plugin_files\libusb0.dll" />
                <File Id="Windows.avrdude.conf" Source="C:\Users\codebender\Desktop\plugin_files\Windows.avrdude.conf" />
              </Component>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    <Feature Id="MainPluginFeature" Title="Codebender.cc" Level="1">
      <ComponentRef Id="InstallDirComp"/>
      <ComponentRef Id="PluginNameDirComp"/>
      <ComponentRef Id="CompanyDirComp"/>
      <ComponentGroupRef Id="PluginDLLGroup"/>
    </Feature>
    <WixVariable Id="WixUIBannerBmp" Value="C:\Users\codebender\Desktop\img\Banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="C:\Users\codebender\Desktop\img\Dialog.bmp" />
    <UI Id="WixUI_Minimal">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />
      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="Minimal" />
      <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="Congratulations! You have successfully installed the codebender browser plugin. You can now program your Arduino from codebender." />
      <Property Id="ARPNOMODIFY" Value="1" />
      <DialogRef Id="UserExit"/>
      <DialogRef Id="WelcomeDlg"/>
      <DialogRef Id="ProgressDlg"/>
      <DialogRef Id="PrepareDlg"/>
      <DialogRef Id="ErrorDlg"/>
      <DialogRef Id="FatalError"/>
      <DialogRef Id="FilesInUse"/>
      <DialogRef Id="MsiRMFilesInUse"/>
      <DialogRef Id="PrepareDlg"/>
      <DialogRef Id="ResumeDlg"/>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="PrepareDlg">1</Publish>
      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
    </UI>
    <UIRef Id="WixUI_Common" />
  </Product>
</Wix>