<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Codebender.cc" Language="1033" Version="1.5.4.0" Manufacturer="codebender.cc" UpgradeCode="{5ed63a74-511c-5a42-8646-a6b6d982a2d3}">
    <Package InstallerVersion="200" Compressed="yes" Description="Installer for the Codebendercc plugin" InstallScope="perUser" />
    <Upgrade Id="{5ed63a74-511c-5a42-8646-a6b6d982a2d3}">
      <UpgradeVersion
          Property="OLD_VERSION_FOUND"
          Minimum="0.0.1" IncludeMinimum="yes"
          Maximum="1.5.4.0" IncludeMaximum="yes"
          OnlyDetect="no" IgnoreRemoveFailure="yes"
          MigrateFeatures="yes" />
    </Upgrade>
    <Property Id="MSIRESTARTMANAGERCONTROL" Value="Disable" />
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize" />
      <InstallExecute After="RemoveExistingProducts" />
    </InstallExecuteSequence>
    <Media Id="1" Cabinet="Codebendercc.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="AppDataFolder">
        <Directory Id="CompanyDir" Name="codebendercc">
          <Component Id="CompanyDirComp" Guid="*">
            <RemoveFolder Id="RemoveCompanyDir" On="uninstall" />
            <RegistryValue
                Root="HKCU"
                Key="SOFTWARE\codebendercc"
                Name="Uninstall"
                Type="string"
                Value="1.5.4.0"
                KeyPath="yes" />
          </Component>
          <Directory Id="PluginNameDir" Name="Codebendercc">
            <Component Id="PluginNameDirComp" Guid="*">
              <RemoveFolder Id="RemovePluginNameDir" On="uninstall" />
              <RegistryValue
                  Root="HKCU"
                  Key="SOFTWARE\codebendercc\Codebendercc"
                  Name="Uninstall"
                  Type="string"
                  Value="1.5.4.0"
                  KeyPath="yes" />
            </Component>
            <Directory Id="INSTALLDIR" Name="1.5.4.0">
              <Component Id="InstallDirComp" Guid="{104D10A9-62C4-4122-8BA2-1C4644373DEF}">
                <RemoveFolder Id="RemoveInstallDir" On="uninstall" />
                <RegistryValue
                    Root="HKCU"
                    Key="SOFTWARE\codebendercc\Codebendercc\1.5.4.0"
                    Name="Uninstall"
                    Type="string"
                    Value="1.5.4.0"
                    KeyPath="yes" />                
                <File Id="avrdude.exe" Source="F:\Dropbox\FireBreath\filesIncluded\avrdude.exe" />                
                <File Id="libusb0.dll" Source="F:\Dropbox\FireBreath\filesIncluded\libusb0.dll" />
                <File Id="Windows.avrdude.conf" Source="F:\Dropbox\FireBreath\filesIncluded\Windows.avrdude.conf" />
                <File Id="digispark.exe" Source="F:\Dropbox\FireBreath\filesIncluded\digispark.exe" />
              </Component>
              
              <Directory Id="DRIVERDIR" Name="drivers">
                <Component Id="DriverDirComp" Guid="{C8FB1AA8-E60F-4805-B745-BDDEBC791BF9}">
                  <RemoveFolder Id="RemoveDriversDir" On="uninstall" />
                  <RegistryValue
                   Root="HKCU"
                   Key="SOFTWARE\codebendercc\Codebendercc\1.5.4.0\drivers"
                   Name="Uninstall"
                   Type="string"
                   Value="drivers"
                   KeyPath="yes" />
                  <File Id="arduino.inf" Source="F:\Dropbox\FireBreath\filesIncluded\drivers\arduino.inf" />
                  <File Id="arduino.cat" Source="F:\Dropbox\FireBreath\filesIncluded\drivers\arduino.cat" />
                  <File Id="DIGISPARK.inf" Source="F:\Dropbox\FireBreath\filesIncluded\drivers\Digispark_Bootloader.inf" />
                  <File Id="DIGISPARK.cat" Source="F:\Dropbox\FireBreath\filesIncluded\drivers\Digispark_Bootloader.cat" />
                </Component>
                <Directory Id="AMD64DIR" Name="amd64">
                  <Component Id="Amd64DirComp" Guid="{779179a8-47fa-4bdc-8350-75db7ee4c9a4}">
                    <RemoveFolder Id="RemoveAmd64DriversDir" On="uninstall" />
                    <RegistryValue
                     Root="HKCU"
                     Key="SOFTWARE\codebendercc\Codebendercc\1.5.4.0\drivers\amd64"
                     Name="Uninstall"
                     Type="string"
                     Value="amd64"
                     KeyPath="yes" />
                    <File Id="digi.64.libusb0.dll" Source="F:\Dropbox\FireBreath\filesIncluded\drivers\amd64\libusb0.dll" />
                    <File Id="digi.64.libusb0.sys" Source="F:\Dropbox\FireBreath\filesIncluded\drivers\amd64\libusb0.sys" />
                    <File Id="digi.64.libusbK.dll" Source="F:\Dropbox\FireBreath\filesIncluded\drivers\amd64\libusbK.dll" />
                  </Component>
                </Directory>
                <Directory Id="X86DIR" Name="x86">
                  <Component Id="X86DirComp" Guid="{3a52dae6-065b-4aa5-9716-8472434c089c}">
                    <RemoveFolder Id="RemoveX86DriversDir" On="uninstall" />
                    <RegistryValue
                     Root="HKCU"
                     Key="SOFTWARE\codebendercc\Codebendercc\1.5.4.0\drivers\x86"
                     Name="Uninstall"
                     Type="string"
                     Value="x86"
                     KeyPath="yes" />
                    <File Id="digi.86.libusb0_x86.dll" Source="F:\Dropbox\FireBreath\filesIncluded\drivers\x86\libusb0_x86.dll" />
                    <File Id="digi.86.libusb0.sys" Source="F:\Dropbox\FireBreath\filesIncluded\drivers\x86\libusb0.sys" />
                    <File Id="digi.86.libusbK_x86.dll" Source="F:\Dropbox\FireBreath\filesIncluded\drivers\x86\libusbK_x86.dll" />
                  </Component>
                </Directory>

              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="MainPluginFeature" Title="Codebender.cc" Level="1">
      <ComponentRef Id="X86DirComp"/>
      <ComponentRef Id="Amd64DirComp"/>
      <ComponentRef Id="DriverDirComp"/>
      <ComponentRef Id="InstallDirComp"/>
      <ComponentRef Id="PluginNameDirComp"/>
      <ComponentRef Id="CompanyDirComp"/>
      <ComponentGroupRef Id="PluginDLLGroup"/>
    </Feature>
  </Product>
</Wix>

